JAVA_MAX_HEAP=2g
ENDPOINT_ADMIN_ENABLED=true
ENDPOINT_ADMIN_SECRET=password
SOURCE_STATIC=S3Source
S3SOURCE_BASICLOOKUPSTRATEGY_BUCKET_NAME=my-s3-bucket
S3SOURCE_REGION=ca-central-1
S3SOURCE_ACCESS_KEY_ID=ABCDEFGHIJKLMNOP
S3SOURCE_SECRET_KEY=a1b2c3d4e5f6g7h8i9j0k
